## Libraries

In [1]:
import pandas as pd
import numpy as np
import os
# change the working directory to the parent directory
current_dir = os.path.abspath(os.getcwd())

parent_dir = os.path.abspath(os.path.join(current_dir, '..'))
os.chdir(parent_dir)

## Loading data from the eICU dataset

Preprocessing can be performed in the same way for data intended for 12-, 24-, and 48-hour predictions. The data cleaning and transformation steps are identical in each case, meaning that only the file paths need to be adjusted for each time-based dataset. Once the paths are updated, the preprocessing process automatically adapts without requiring additional modifications, ensuring an efficient and consistent workflow.

In [2]:
data_test = pd.read_csv("Data_johan/eicu/48h_24h/demograficos.csv" )
data_test1 = pd.read_csv("Data_johan/eicu/48h_24h/vitalsigns.csv" )
data_test2 = pd.read_csv("Data_johan/eicu/48h_24h/lab.csv" )
data_test3 = pd.read_csv("Data_johan/eicu/48h_24h/vasopresores.csv" )
data_test4 = pd.read_csv("Data_johan/eicu/48h_24h/antibioticos.csv" )
data_test5 = pd.read_csv("Data_johan/eicu/48h_24h/gcs.csv" )
data_test6 = pd.read_csv("Data_johan/eicu/48h_24h/urineoutput.csv" )
data_test7 = pd.read_csv("Data_johan/eicu/48h_24h/sofa.csv" )
data_test8 = pd.read_csv('datapre/eicu/conflag_eICU_48_72.csv')

## Reviewing demographic data from the eICU dataset

In [3]:
print(data_test.head())

   patientunitstayid age  gender  ethnicity  icu_los_hours  \
0             224606  76       0  Caucasian             69
1             151900  66       0  Caucasian             57
2             197921  67       0  Caucasian             91
3             145917  53       1      Asian             77
4             210208  52       1      Asian             91

   hospital_expire_flag
0                     0
1                     0
2                     0
3                     0
4                     0

In [4]:
print(data_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     5553 non-null   int64
 1   age                   5553 non-null   object
 2   gender                5553 non-null   int64
 3   ethnicity             5521 non-null   object
 4   icu_los_hours         5553 non-null   int64
 5   hospital_expire_flag  5553 non-null   int64
dtypes: int64(4), object(2)
memory usage: 260.4+ KB
None

In [5]:
print(data_test.describe())

       patientunitstayid       gender  icu_los_hours  hospital_expire_flag
count       5.553000e+03  5553.000000    5553.000000           5553.000000
mean        1.736428e+06     0.510895     145.492346              0.110751
std         1.040834e+06     0.499926     207.482509              0.313852
min         1.413040e+05     0.000000      48.000000              0.000000
25%         7.549710e+05     0.000000      67.000000              0.000000
50%         1.710390e+06     1.000000      94.000000              0.000000
75%         2.791676e+06     1.000000     165.000000              0.000000
max         3.352922e+06     1.000000    8299.000000              1.000000

## Data treatment for the age column

In [6]:
# Filter values in 'age' that cannot be converted to numbers
problematic_values = data_test[~data_test['age'].str.isnumeric()]
print(problematic_values['age'])

8       > 89
10      > 89
33      > 89
35      > 89
41      > 89
        ...
5306    > 89
5438    > 89
5505    > 89
5508    > 89
5546    > 89
Name: age, Length: 251, dtype: object

In [7]:
# Replace values '> 89' with 90 in the 'age' column
data_test['age'] = data_test['age'].replace('> 89', '90')

# Convert the 'age' column to a numeric type
data_test['age'] = pd.to_numeric(data_test['age'], errors='coerce')

In [8]:
print(data_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     5553 non-null   int64
 1   age                   5553 non-null   int64
 2   gender                5553 non-null   int64
 3   ethnicity             5521 non-null   object
 4   icu_los_hours         5553 non-null   int64
 5   hospital_expire_flag  5553 non-null   int64
dtypes: int64(5), object(1)
memory usage: 260.4+ KB
None

## Data treatment for the ethnicity column

In [9]:
# Display unique values in the 'ethnicity' column
print(data_test['ethnicity'].unique())

['Caucasian' 'Asian' 'African American' 'Hispanic' 'Native American' nan
 'Other/Unknown']

In [10]:
# Define a mapping for the ethnicity values
ethnicity_mapping = {
    'Caucasian': 0,
    'Asian': 1,
    'African American': 2,
    'Hispanic': 3,
    'Native American': 4,
    'Other/Unknown': 5,
    np.nan: 5  # Replace NaN with 5
}

# Replace values in the 'ethnicity' column using the mapping
data_test['ethnicity'] = data_test['ethnicity'].replace(ethnicity_mapping)

C:\Users\JOHAN\AppData\Local\Temp\ipykernel_2076\3784381758.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_test['ethnicity'] = data_test['ethnicity'].replace(ethnicity_mapping)

In [11]:
print(data_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     5553 non-null   int64
 1   age                   5553 non-null   int64
 2   gender                5553 non-null   int64
 3   ethnicity             5553 non-null   float64
 4   icu_los_hours         5553 non-null   int64
 5   hospital_expire_flag  5553 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 260.4 KB
None

## Renaming columns and adjusting data types

In [12]:
# Renaming columns
data_test = data_test.rename(columns={
    'gender': 'sex',
    'ethnicity': 'race',
    'icu_los_hours': 'los_icu'
})

# Changing the data types
data_test['sex'] = data_test['sex'].astype('int64')  # Ensure 'sex' is of type int64
data_test['race'] = data_test['race'].astype('int64')  # Ensure 'race' is of type int64
data_test['los_icu'] = data_test['los_icu'].astype('float64')  # Ensure 'los_icu' is of type float64
data_test['los_icu'] = data_test['los_icu'] / 24

In [14]:
data_test = data_test.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     3786 non-null   int64
 1   age                   3786 non-null   int64
 2   sex                   3786 non-null   int64
 3   race                  3786 non-null   int64
 4   los_icu               3786 non-null   float64
 5   hospital_expire_flag  3786 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 177.6 KB
None

## Reviewing vital signs data from the eICU dataset

In [16]:
print(data_test1.head())

   patientunitstayid  max_temperature  min_temperature  avg_temperature  \
0             141304             36.7             36.1        36.483333
1             141751             37.6             36.3        36.803497
2             141920             37.7             36.6        37.133333
3             141945             36.7             36.5        36.660000
4             141959             37.2             36.1        36.620000

   max_spo2  min_spo2   avg_spo2  max_heartrate  min_heartrate  avg_heartrate  \
0      97.0      83.0  93.740385          114.0           76.0      84.834951
1     100.0      96.0  98.710345          119.0           81.0      93.031579
2     100.0      90.0  96.721713          135.0           66.0      87.330275
3     100.0      79.0  96.021277           96.0           69.0      78.905229
4     100.0      91.0  97.628866           98.0           58.0      75.941581

   ...  avg_resp_rate  max_sbp  min_sbp     avg_sbp  max_dbp  min_dbp  \
0  ...      17.278317    180.0    125.0  158.227273     88.0     62.0
1  ...      17.940351    158.0     97.0  119.656000     89.0     54.0
2  ...      26.403670    142.0     97.0  113.307692     80.0     47.0
3  ...      20.689542    107.0     83.0   99.809524     66.0     44.0
4  ...      18.000000    249.0    116.0  156.502203     90.0     46.0

     avg_dbp  max_mbp  min_mbp     avg_mbp
0  73.500000      NaN      NaN         NaN
1  68.896000    122.0     71.0   91.157676
2  56.192308      NaN      NaN         NaN
3  57.190476      NaN      NaN         NaN
4  68.443946    135.0     72.0  105.112613

[5 rows x 22 columns]

In [19]:
print(data_test1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  5553 non-null   int64
 1   max_temperature    5079 non-null   float64
 2   min_temperature    5079 non-null   float64
 3   avg_temperature    5079 non-null   float64
 4   max_spo2           5526 non-null   float64
 5   min_spo2           5526 non-null   float64
 6   avg_spo2           5526 non-null   float64
 7   max_heartrate      5537 non-null   float64
 8   min_heartrate      5537 non-null   float64
 9   avg_heartrate      5537 non-null   float64
 10  max_resp_rate      5488 non-null   float64
 11  min_resp_rate      5488 non-null   float64
 12  avg_resp_rate      5488 non-null   float64
 13  max_sbp            5009 non-null   float64
 14  min_sbp            5009 non-null   float64
 15  avg_sbp            5009 non-null   float64
 16  max_dbp            5009 non-null   float64
 17  min_dbp            5009 non-null   float64
 18  avg_dbp            5009 non-null   float64
 19  max_mbp            4755 non-null   float64
 20  min_mbp            4755 non-null   float64
 21  avg_mbp            4755 non-null   float64
dtypes: float64(21), int64(1)
memory usage: 954.6 KB
None

In [18]:
print(data_test1.describe())

       patientunitstayid  max_temperature  min_temperature  avg_temperature  \
count       5.553000e+03      5079.000000      5079.000000      5079.000000
mean        1.736428e+06        37.332704        36.241549        36.883687
std         1.040834e+06         0.747550         1.807506         0.631605
min         1.413040e+05        22.300000         1.200000        21.730588
25%         7.549710e+05        36.900000        36.200000        36.576000
50%         1.710390e+06        37.200000        36.500000        36.834014
75%         2.791676e+06        37.700000        36.800000        37.180000
max         3.352922e+06        41.200000        39.400000        39.605556

          max_spo2     min_spo2     avg_spo2  max_heartrate  min_heartrate  \
count  5526.000000  5526.000000  5526.000000    5537.000000    5537.000000
mean     99.600253    84.979370    96.601417     112.478418      73.290410
std       0.982375    12.308461     2.410420      21.633849      16.047026
min      83.000000     1.000000    67.804124      51.000000       1.000000
25%     100.000000    82.000000    95.300806      98.000000      63.000000
50%     100.000000    88.000000    96.838889     111.000000      73.000000
75%     100.000000    92.000000    98.331770     125.000000      84.000000
max     100.000000   100.000000   100.000000     248.000000     131.000000

       avg_heartrate  ...  avg_resp_rate      max_sbp      min_sbp  \
count    5537.000000  ...    5488.000000  5009.000000  5009.000000
mean       89.161811  ...      21.139488   148.178678    96.066281
std        15.952669  ...       5.021158    26.748015    21.634535
min        35.451389  ...       7.646465    74.000000     1.000000
25%        77.748252  ...      17.638262   129.000000    83.000000
50%        88.689103  ...      20.479938   146.000000    94.000000
75%        99.681672  ...      23.982392   164.000000   109.000000
max       162.965278  ...      62.574627   299.000000   189.000000

           avg_sbp      max_dbp      min_dbp      avg_dbp      max_mbp  \
count  5009.000000  5009.000000  5009.000000  5009.000000  4755.000000
mean    120.882782    87.803154    49.122979    64.188428   101.808973
std      18.660988    22.046630    13.519409    11.825304    18.651157
min      30.289474    31.000000     1.000000    16.715789    45.000000
25%     107.000000    73.000000    41.000000    55.906250    88.000000
50%     118.036269    85.000000    48.000000    63.071429   100.000000
75%     133.000000    98.000000    57.000000    71.333333   113.000000
max     209.712042   199.000000   112.000000   133.000000   149.000000

           min_mbp      avg_mbp
count  4755.000000  4755.000000
mean     62.946933    79.930278
std      16.232232    12.889361
min       1.000000    38.000000
25%      53.000000    70.653589
50%      62.000000    78.181818
75%      73.000000    87.739130
max     126.000000   133.500000

[8 rows x 22 columns]

## Renaming columns

In [20]:
# Define a mapping for the column renaming
column_mapping = {
    'min_heartrate': 'heart_rate_min',
    'max_heartrate': 'heart_rate_max',
    'avg_heartrate': 'heart_rate_mean',
    'min_sbp': 'sbp_min',
    'max_sbp': 'sbp_max',
    'avg_sbp': 'sbp_mean',
    'min_dbp': 'dbp_min',
    'max_dbp': 'dbp_max',
    'avg_dbp': 'dbp_mean',
    'min_mbp': 'mbp_min',
    'max_mbp': 'mbp_max',
    'avg_mbp': 'mbp_mean',
    'min_resp_rate': 'resp_rate_min',
    'max_resp_rate': 'resp_rate_max',
    'avg_resp_rate': 'resp_rate_mean',
    'min_temperature': 'temperature_min',
    'max_temperature': 'temperature_max',
    'avg_temperature': 'temperature_mean',
    'min_spo2': 'spo2_min',
    'max_spo2': 'spo2_max',
    'avg_spo2': 'spo2_mean'
}

# Rename the columns
data_test1 = data_test1.rename(columns=column_mapping)

In [21]:
data_test1 = data_test1.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   temperature_max    3429 non-null   float64
 2   temperature_min    3429 non-null   float64
 3   temperature_mean   3429 non-null   float64
 4   spo2_max           3770 non-null   float64
 5   spo2_min           3770 non-null   float64
 6   spo2_mean          3770 non-null   float64
 7   heart_rate_max     3772 non-null   float64
 8   heart_rate_min     3772 non-null   float64
 9   heart_rate_mean    3772 non-null   float64
 10  resp_rate_max      3741 non-null   float64
 11  resp_rate_min      3741 non-null   float64
 12  resp_rate_mean     3741 non-null   float64
 13  sbp_max            3401 non-null   float64
 14  sbp_min            3401 non-null   float64
 15  sbp_mean           3401 non-null   float64
 16  dbp_max            3401 non-null   float64
 17  dbp_min            3401 non-null   float64
 18  dbp_mean           3401 non-null   float64
 19  mbp_max            3239 non-null   float64
 20  mbp_min            3239 non-null   float64
 21  mbp_mean           3239 non-null   float64
dtypes: float64(21), int64(1)
memory usage: 650.8 KB
None

## Removing columns with less than 80% non-null values in a DataFrame

In [22]:
# Calculate the threshold for non-null values
th = 0.80 * len(data_test1)
# Remove columns that have fewer than 'threshold' non-null values
data_test1 = data_test1.loc[:, data_test1.notnull().sum() >= th]
print(data_test1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   temperature_max    3429 non-null   float64
 2   temperature_min    3429 non-null   float64
 3   temperature_mean   3429 non-null   float64
 4   spo2_max           3770 non-null   float64
 5   spo2_min           3770 non-null   float64
 6   spo2_mean          3770 non-null   float64
 7   heart_rate_max     3772 non-null   float64
 8   heart_rate_min     3772 non-null   float64
 9   heart_rate_mean    3772 non-null   float64
 10  resp_rate_max      3741 non-null   float64
 11  resp_rate_min      3741 non-null   float64
 12  resp_rate_mean     3741 non-null   float64
 13  sbp_max            3401 non-null   float64
 14  sbp_min            3401 non-null   float64
 15  sbp_mean           3401 non-null   float64
 16  dbp_max            3401 non-null   float64
 17  dbp_min            3401 non-null   float64
 18  dbp_mean           3401 non-null   float64
 19  mbp_max            3239 non-null   float64
 20  mbp_min            3239 non-null   float64
 21  mbp_mean           3239 non-null   float64
dtypes: float64(21), int64(1)
memory usage: 650.8 KB
None

## Reviewing laboratory data from the eICU dataset

In [23]:
print(data_test2.head())

   patientunitstayid  aniongap_min  aniongap_max  albumin_min  albumin_max  \
0             141304          17.0          17.0          NaN          NaN
1             141751          13.0          17.0          1.7          1.7
2             141920          14.0          14.0          2.7          2.7
3             141945          10.0          10.0          NaN          NaN
4             141959          10.0          10.0          NaN          NaN

   bands_min  bands_max  bicarbonate_min  bicarbonate_max  hco3_min  ...  \
0        NaN        NaN             26.0             26.0       NaN  ...
1        NaN        NaN             18.0             21.0       NaN  ...
2        NaN        NaN             24.0             24.0       NaN  ...
3        NaN        NaN             31.0             31.0       NaN  ...
4        1.0        1.0             26.0             26.0      22.0  ...

   pt_min  pt_max  sodium_min  sodium_max  bun_min  bun_max  wbc_min  wbc_max  \
0     NaN     NaN       146.0       146.0     33.0     33.0     13.6     13.6
1     NaN     NaN       141.0       143.0     39.0     40.0     15.3     15.3
2     NaN     NaN       138.0       138.0     34.0     34.0     22.4     22.4
3     NaN     NaN       137.0       137.0     22.0     22.0      9.0      9.0
4     NaN     NaN       142.0       142.0     45.0     45.0      7.0      7.0

   calcium_min  calcium_max
0          8.1          8.1
1          7.5          7.9
2          8.0          8.0
3          8.8          8.8
4          7.8          7.8

[5 rows x 43 columns]

In [24]:
print(data_test2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  5553 non-null   int64
 1   aniongap_min       4054 non-null   float64
 2   aniongap_max       4054 non-null   float64
 3   albumin_min        2863 non-null   float64
 4   albumin_max        2863 non-null   float64
 5   bands_min          500 non-null    float64
 6   bands_max          500 non-null    float64
 7   bicarbonate_min    4897 non-null   float64
 8   bicarbonate_max    4897 non-null   float64
 9   hco3_min           1497 non-null   float64
 10  hco3_max           1497 non-null   float64
 11  bilirubin_min      2522 non-null   float64
 12  bilirubin_max      2522 non-null   float64
 13  creatinine_min     5200 non-null   float64
 14  creatinine_max     5200 non-null   float64
 15  chloride_min       5206 non-null   float64
 16  chloride_max       5206 non-null   float64
 17  glucose_min        5164 non-null   float64
 18  glucose_max        5164 non-null   float64
 19  hematocrit_min     5030 non-null   float64
 20  hematocrit_max     5030 non-null   float64
 21  hemoglobin_min     5035 non-null   float64
 22  hemoglobin_max     5035 non-null   float64
 23  lactate_min        1116 non-null   float64
 24  lactate_max        1116 non-null   float64
 25  platelet_min       4991 non-null   float64
 26  platelet_max       4991 non-null   float64
 27  potassium_min      5258 non-null   float64
 28  potassium_max      5258 non-null   float64
 29  ptt_min            716 non-null    float64
 30  ptt_max            716 non-null    float64
 31  inr_min            1513 non-null   float64
 32  inr_max            1513 non-null   float64
 33  pt_min             1477 non-null   float64
 34  pt_max             1477 non-null   float64
 35  sodium_min         5211 non-null   float64
 36  sodium_max         5211 non-null   float64
 37  bun_min            5197 non-null   float64
 38  bun_max            5197 non-null   float64
 39  wbc_min            5003 non-null   float64
 40  wbc_max            5003 non-null   float64
 41  calcium_min        5167 non-null   float64
 42  calcium_max        5167 non-null   float64
dtypes: float64(42), int64(1)
memory usage: 1.8 MB
None

In [25]:
print(data_test2.describe())

       patientunitstayid  aniongap_min  aniongap_max  albumin_min  \
count       5.553000e+03   4054.000000   4054.000000  2863.000000
mean        1.736428e+06     10.075925     10.550493     2.323577
std         1.040834e+06      4.162147      4.446670     0.589163
min         1.413040e+05      0.500000      0.500000     0.800000
25%         7.549710e+05      7.000000      7.300000     1.900000
50%         1.710390e+06     10.000000     10.000000     2.300000
75%         2.791676e+06     12.400000     13.000000     2.700000
max         3.352922e+06     37.000000     48.000000     4.600000

       albumin_max   bands_min   bands_max  bicarbonate_min  bicarbonate_max  \
count  2863.000000  500.000000  500.000000      4897.000000      4897.000000
mean      2.343591    9.709380   10.441380        24.276455        24.769308
std       0.596671   10.489606   11.450574         5.417585         5.180336
min       0.800000    1.000000    1.000000         2.900000         6.000000
25%       1.900000    2.000000    3.000000        21.000000        21.000000
50%       2.300000    6.000000    6.000000        24.000000        25.000000
75%       2.700000   12.000000   13.000000        28.000000        28.000000
max       4.600000   51.000000   58.000000        54.000000        54.000000

          hco3_min  ...       pt_min       pt_max   sodium_min   sodium_max  \
count  1497.000000  ...  1477.000000  1477.000000  5211.000000  5211.000000
mean     23.709486  ...    20.756466    21.450305   139.789388   140.373249
std       6.525662  ...    10.233914    11.687384     5.561235     5.603245
min       2.900000  ...     9.700000     9.700000   116.000000   121.000000
25%      19.700000  ...    14.800000    14.900000   136.000000   137.000000
50%      23.600000  ...    17.400000    17.500000   140.000000   140.000000
75%      27.300000  ...    23.100000    23.800000   143.000000   144.000000
max      59.900000  ...   107.600000   132.300000   170.000000   176.000000

           bun_min      bun_max      wbc_min      wbc_max  calcium_min  \
count  5197.000000  5197.000000  5003.000000  5003.000000  5167.000000
mean     32.777006    33.851587    13.328979    13.611289     8.058703
std      24.057639    24.763344     8.571664     8.813247     0.807816
min       1.000000     1.000000     0.100000     0.100000     3.820000
25%      15.000000    16.000000     8.100000     8.200000     7.600000
50%      26.000000    27.000000    11.600000    11.800000     8.000000
75%      43.000000    45.000000    16.205000    16.600000     8.600000
max     178.000000   192.000000   112.900000   112.900000    12.700000

       calcium_max
count  5167.000000
mean      8.136017
std       0.797512
min       5.000000
25%       7.600000
50%       8.100000
75%       8.600000
max      16.400000

[8 rows x 43 columns]

In [26]:
data_test2 = data_test2.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   aniongap_min       2752 non-null   float64
 2   aniongap_max       2752 non-null   float64
 3   albumin_min        1884 non-null   float64
 4   albumin_max        1884 non-null   float64
 5   bands_min          303 non-null    float64
 6   bands_max          303 non-null    float64
 7   bicarbonate_min    3307 non-null   float64
 8   bicarbonate_max    3307 non-null   float64
 9   hco3_min           1027 non-null   float64
 10  hco3_max           1027 non-null   float64
 11  bilirubin_min      1642 non-null   float64
 12  bilirubin_max      1642 non-null   float64
 13  creatinine_min     3511 non-null   float64
 14  creatinine_max     3511 non-null   float64
 15  chloride_min       3519 non-null   float64
 16  chloride_max       3519 non-null   float64
 17  glucose_min        3488 non-null   float64
 18  glucose_max        3488 non-null   float64
 19  hematocrit_min     3392 non-null   float64
 20  hematocrit_max     3392 non-null   float64
 21  hemoglobin_min     3395 non-null   float64
 22  hemoglobin_max     3395 non-null   float64
 23  lactate_min        489 non-null    float64
 24  lactate_max        489 non-null    float64
 25  platelet_min       3366 non-null   float64
 26  platelet_max       3366 non-null   float64
 27  potassium_min      3560 non-null   float64
 28  potassium_max      3560 non-null   float64
 29  ptt_min            441 non-null    float64
 30  ptt_max            441 non-null    float64
 31  inr_min            997 non-null    float64
 32  inr_max            997 non-null    float64
 33  pt_min             982 non-null    float64
 34  pt_max             982 non-null    float64
 35  sodium_min         3522 non-null   float64
 36  sodium_max         3522 non-null   float64
 37  bun_min            3512 non-null   float64
 38  bun_max            3512 non-null   float64
 39  wbc_min            3377 non-null   float64
 40  wbc_max            3377 non-null   float64
 41  calcium_min        3489 non-null   float64
 42  calcium_max        3489 non-null   float64
dtypes: float64(42), int64(1)
memory usage: 1.2 MB
None

## Removing columns with less than 80% non-null values in a DataFrame

In [27]:
# Calculate the threshold for non-null values
th = 0.80 * len(data_test2)
# Remove columns that have fewer than 'threshold' non-null values
data_test2 = data_test2.loc[:, data_test2.notnull().sum() >= th]
print(data_test2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   bicarbonate_min    3307 non-null   float64
 2   bicarbonate_max    3307 non-null   float64
 3   creatinine_min     3511 non-null   float64
 4   creatinine_max     3511 non-null   float64
 5   chloride_min       3519 non-null   float64
 6   chloride_max       3519 non-null   float64
 7   glucose_min        3488 non-null   float64
 8   glucose_max        3488 non-null   float64
 9   hematocrit_min     3392 non-null   float64
 10  hematocrit_max     3392 non-null   float64
 11  hemoglobin_min     3395 non-null   float64
 12  hemoglobin_max     3395 non-null   float64
 13  platelet_min       3366 non-null   float64
 14  platelet_max       3366 non-null   float64
 15  potassium_min      3560 non-null   float64
 16  potassium_max      3560 non-null   float64
 17  sodium_min         3522 non-null   float64
 18  sodium_max         3522 non-null   float64
 19  bun_min            3512 non-null   float64
 20  bun_max            3512 non-null   float64
 21  wbc_min            3377 non-null   float64
 22  wbc_max            3377 non-null   float64
 23  calcium_min        3489 non-null   float64
 24  calcium_max        3489 non-null   float64
dtypes: float64(24), int64(1)
memory usage: 739.6 KB
None

## Reviewing vasopressors data from the eICU dataset

In [28]:
print(data_test3.head())

   patientunitstayid  norepinephrine  epinephrine  dopamine  dobutamine  \
0            1580187             0.0          0.0       0.0         0.0
1             617217             0.0          1.0       0.0         0.0
2            3341184             0.0          0.0       0.0         0.0
3            3024088             0.0          0.0       0.0         0.0
4            1769940             0.0          0.0       0.0         0.0

   phenylephrine  vasopressin  milrinone  heparin  warfarin
0            0.0          0.0        0.0      0.0       0.0
1            1.0          0.0        0.0      0.0       0.0
2            0.0          0.0        0.0      0.0       0.0
3            0.0          0.0        0.0      0.0       0.0
4            0.0          0.0        0.0      0.0       0.0

In [29]:
print(data_test3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  5553 non-null   int64
 1   norepinephrine     3626 non-null   float64
 2   epinephrine        3626 non-null   float64
 3   dopamine           3626 non-null   float64
 4   dobutamine         3626 non-null   float64
 5   phenylephrine      3626 non-null   float64
 6   vasopressin        3626 non-null   float64
 7   milrinone          3626 non-null   float64
 8   heparin            3626 non-null   float64
 9   warfarin           3626 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 434.0 KB
None

In [30]:
print(data_test3.describe())

       patientunitstayid  norepinephrine  epinephrine     dopamine  \
count       5.553000e+03     3626.000000  3626.000000  3626.000000
mean        1.736428e+06        0.047159     0.008274     0.002206
std         1.040834e+06        0.249101     0.119484     0.062106
min         1.413040e+05        0.000000     0.000000     0.000000
25%         7.549710e+05        0.000000     0.000000     0.000000
50%         1.710390e+06        0.000000     0.000000     0.000000
75%         2.791676e+06        0.000000     0.000000     0.000000
max         3.352922e+06        5.000000     4.000000     2.000000

        dobutamine  phenylephrine  vasopressin  milrinone      heparin  \
count  3626.000000    3626.000000  3626.000000     3626.0  3626.000000
mean      0.001931       0.018478     0.015996        0.0     0.084115
std       0.043901       0.169186     0.129798        0.0     0.326040
min       0.000000       0.000000     0.000000        0.0     0.000000
25%       0.000000       0.000000     0.000000        0.0     0.000000
50%       0.000000       0.000000     0.000000        0.0     0.000000
75%       0.000000       0.000000     0.000000        0.0     0.000000
max       1.000000       4.000000     2.000000        0.0     4.000000

          warfarin
count  3626.000000
mean      0.040265
std       0.212779
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       3.000000

In [31]:
data_test3 = data_test3.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   norepinephrine     2370 non-null   float64
 2   epinephrine        2370 non-null   float64
 3   dopamine           2370 non-null   float64
 4   dobutamine         2370 non-null   float64
 5   phenylephrine      2370 non-null   float64
 6   vasopressin        2370 non-null   float64
 7   milrinone          2370 non-null   float64
 8   heparin            2370 non-null   float64
 9   warfarin           2370 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 295.9 KB
None

## Removing columns

In [32]:
data_test3 = data_test3.drop(columns=['heparin'])
data_test3 = data_test3.drop(columns=['warfarin'])
data_test3.fillna(0, inplace=True)
print(data_test3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   norepinephrine     3786 non-null   float64
 2   epinephrine        3786 non-null   float64
 3   dopamine           3786 non-null   float64
 4   dobutamine         3786 non-null   float64
 5   phenylephrine      3786 non-null   float64
 6   vasopressin        3786 non-null   float64
 7   milrinone          3786 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 236.8 KB
None

## Reviewing antibiotics data from the eICU dataset

In [33]:
print(data_test4.head())

   patientunitstayid  Grupo Cefalosporinas  Grupo Penicilinas  Macrolides  \
0             141304                     0                  0           0
1             141751                     0                  1           0
2             141920                     0                  0           0
3             141945                     0                  0           0
4             141959                     0                  0           0

   Meropenem  Metronidazole  Quinolonas  Vancomycin  other
0          0              0           0           1      0
1          0              0           0           1      0
2          0              0           0           0      1
3          0              0           0           0      1
4          0              0           0           0      1

In [34]:
print(data_test4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     5553 non-null   int64
 1   Grupo Cefalosporinas  5553 non-null   int64
 2   Grupo Penicilinas     5553 non-null   int64
 3   Macrolides            5553 non-null   int64
 4   Meropenem             5553 non-null   int64
 5   Metronidazole         5553 non-null   int64
 6   Quinolonas            5553 non-null   int64
 7   Vancomycin            5553 non-null   int64
 8   other                 5553 non-null   int64
dtypes: int64(9)
memory usage: 390.6 KB
None

In [35]:
print(data_test4.describe())

       patientunitstayid  Grupo Cefalosporinas  Grupo Penicilinas  \
count       5.553000e+03           5553.000000        5553.000000
mean        1.736428e+06              0.013326           0.020890
std         1.040834e+06              0.122279           0.149191
min         1.413040e+05              0.000000           0.000000
25%         7.549710e+05              0.000000           0.000000
50%         1.710390e+06              0.000000           0.000000
75%         2.791676e+06              0.000000           0.000000
max         3.352922e+06              2.000000           3.000000

        Macrolides    Meropenem  Metronidazole   Quinolonas   Vancomycin  \
count  5553.000000  5553.000000    5553.000000  5553.000000  5553.000000
mean      0.003061     0.005943       0.006843     0.018188     0.084459
std       0.055250     0.083601       0.082447     0.144023     0.312270
min       0.000000     0.000000       0.000000     0.000000     0.000000
25%       0.000000     0.000000       0.000000     0.000000     0.000000
50%       0.000000     0.000000       0.000000     0.000000     0.000000
75%       0.000000     0.000000       0.000000     0.000000     0.000000
max       1.000000     2.000000       1.000000     3.000000     4.000000

             other
count  5553.000000
mean      0.882226
std       0.322370
min       0.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       1.000000

## Renaming columns and adjusting data types

In [36]:
data_test4 = data_test4.drop(columns=['other'])
# Renaming columns
data_test4 = data_test4.rename(columns={
    'Grupo Cefalosporinas': 'Cefalosporine',
    'Grupo Penicilinas': 'Penicillin',
    'Macrolides': 'Macrolide',
    'Quinolonas' : 'Quinolone',
})

# Converting specified columns to float64
data_test4[['Cefalosporine', 'Penicillin', 'Macrolide', 'Quinolone', 'Meropenem', 'Metronidazole', 'Vancomycin']] = data_test4[['Cefalosporine', 'Penicillin', 'Macrolide', 'Quinolone', 'Meropenem', 'Metronidazole', 'Vancomycin']].astype('float64')

In [37]:
data_test4 = data_test4.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   Cefalosporine      3786 non-null   float64
 2   Penicillin         3786 non-null   float64
 3   Macrolide          3786 non-null   float64
 4   Meropenem          3786 non-null   float64
 5   Metronidazole      3786 non-null   float64
 6   Quinolone          3786 non-null   float64
 7   Vancomycin         3786 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 236.8 KB
None

## Reviewing Glasgow Coma Scale (GCS) data from the eICU dataset

In [38]:
print(data_test5.head())

   patientunitstayid   gcs  gcsmotor  gcsverbal  gcseyes
0             141304  15.0       NaN        NaN      NaN
1             141751  10.0       NaN        NaN      NaN
2             141920  15.0       NaN        NaN      NaN
3             141945  15.0       NaN        NaN      NaN
4             141959  14.0       NaN        NaN      NaN

In [39]:
print(data_test5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5553 entries, 0 to 5552
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  5553 non-null   int64
 1   gcs                4126 non-null   float64
 2   gcsmotor           3007 non-null   float64
 3   gcsverbal          2994 non-null   float64
 4   gcseyes            3007 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 217.0 KB
None

In [40]:
print(data_test5.describe())

       patientunitstayid          gcs     gcsmotor    gcsverbal      gcseyes
count       5.553000e+03  4126.000000  3007.000000  2994.000000  3007.000000
mean        1.736428e+06    13.328648     5.701696     3.923848     3.779514
std         1.040834e+06     2.662892     0.853045     1.563089     0.620888
min         1.413040e+05     3.000000     1.000000     1.000000     1.000000
25%         7.549710e+05    12.000000     6.000000     3.000000     4.000000
50%         1.710390e+06    15.000000     6.000000     5.000000     4.000000
75%         2.791676e+06    15.000000     6.000000     5.000000     4.000000
max         3.352922e+06    15.000000     6.000000     5.000000     4.000000

## Renaming columns

In [41]:
# Renaming columns
data_test5 = data_test5.rename(columns={
    'gcs': 'gcs_min',
    'gcsmotor': 'gcs_motor',
    'gcsverbal' : 'gcs_verbal',
    'gcseyes' : 'gcs_eyes'
})

In [42]:
data_test5 = data_test5.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   gcs_min            2827 non-null   float64
 2   gcs_motor          2036 non-null   float64
 3   gcs_verbal         2025 non-null   float64
 4   gcs_eyes           2036 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 148.0 KB
None

In [51]:
data_test6 = data_test6.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test6.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   urineoutput        2164 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 59.3 KB
None

In [55]:
data_test7 = data_test7.merge(data_test8[['patientunitstayid']], on=['patientunitstayid'], how='inner')
print(data_test7.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  3786 non-null   int64
 1   sofa               3786 non-null   int64
dtypes: int64(2)
memory usage: 59.3 KB
None

In [56]:
# Start with df1, which contains patientunitstayid and hospital_expire_flag columns
# Ensure 'df1' has only 'patientunitstayid' and 'hospital_expire_flag' columns
merged_df = data_test[['patientunitstayid', 'hospital_expire_flag', 'age', 'sex', 'race', 'los_icu']]

# Merge df2 to df8 sequentially with 'merged_df' using an inner join on 'patientunitstayid'
# This will only keep rows with matching 'patientunitstayid' values across all dataframes

for df in [data_test1, data_test2, data_test3, data_test4, data_test5, data_test6, data_test7]:
    merged_df = merged_df.merge(df, on='patientunitstayid', how='inner')

In [57]:
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 71 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     3786 non-null   int64
 1   hospital_expire_flag  3786 non-null   int64
 2   age                   3786 non-null   int64
 3   sex                   3786 non-null   int64
 4   race                  3786 non-null   int64
 5   los_icu               3786 non-null   float64
 6   temperature_max       3429 non-null   float64
 7   temperature_min       3429 non-null   float64
 8   temperature_mean      3429 non-null   float64
 9   spo2_max              3770 non-null   float64
 10  spo2_min              3770 non-null   float64
 11  spo2_mean             3770 non-null   float64
 12  heart_rate_max        3772 non-null   float64
 13  heart_rate_min        3772 non-null   float64
 14  heart_rate_mean       3772 non-null   float64
 15  resp_rate_max         3741 non-null   float64
 16  resp_rate_min         3741 non-null   float64
 17  resp_rate_mean        3741 non-null   float64
 18  sbp_max               3401 non-null   float64
 19  sbp_min               3401 non-null   float64
 20  sbp_mean              3401 non-null   float64
 21  dbp_max               3401 non-null   float64
 22  dbp_min               3401 non-null   float64
 23  dbp_mean              3401 non-null   float64
 24  mbp_max               3239 non-null   float64
 25  mbp_min               3239 non-null   float64
 26  mbp_mean              3239 non-null   float64
 27  bicarbonate_min       3307 non-null   float64
 28  bicarbonate_max       3307 non-null   float64
 29  creatinine_min        3511 non-null   float64
 30  creatinine_max        3511 non-null   float64
 31  chloride_min          3519 non-null   float64
 32  chloride_max          3519 non-null   float64
 33  glucose_min           3488 non-null   float64
 34  glucose_max           3488 non-null   float64
 35  hematocrit_min        3392 non-null   float64
 36  hematocrit_max        3392 non-null   float64
 37  hemoglobin_min        3395 non-null   float64
 38  hemoglobin_max        3395 non-null   float64
 39  platelet_min          3366 non-null   float64
 40  platelet_max          3366 non-null   float64
 41  potassium_min         3560 non-null   float64
 42  potassium_max         3560 non-null   float64
 43  sodium_min            3522 non-null   float64
 44  sodium_max            3522 non-null   float64
 45  bun_min               3512 non-null   float64
 46  bun_max               3512 non-null   float64
 47  wbc_min               3377 non-null   float64
 48  wbc_max               3377 non-null   float64
 49  calcium_min           3489 non-null   float64
 50  calcium_max           3489 non-null   float64
 51  norepinephrine        3786 non-null   float64
 52  epinephrine           3786 non-null   float64
 53  dopamine              3786 non-null   float64
 54  dobutamine            3786 non-null   float64
 55  phenylephrine         3786 non-null   float64
 56  vasopressin           3786 non-null   float64
 57  milrinone             3786 non-null   float64
 58  Cefalosporine         3786 non-null   float64
 59  Penicillin            3786 non-null   float64
 60  Macrolide             3786 non-null   float64
 61  Meropenem             3786 non-null   float64
 62  Metronidazole         3786 non-null   float64
 63  Quinolone             3786 non-null   float64
 64  Vancomycin            3786 non-null   float64
 65  gcs_min               2827 non-null   float64
 66  gcs_motor             2036 non-null   float64
 67  gcs_verbal            2025 non-null   float64
 68  gcs_eyes              2036 non-null   float64
 69  urineoutput           2164 non-null   float64
 70  sofa                  3786 non-null   int64
dtypes: float64(65), int64(6)
memory usage: 2.1 MB
None

In [58]:
# Check for columns that contain only 0 values
columns_with_zeros = merged_df.columns[(merged_df == 0).all()]
print(columns_with_zeros)

# Drop the columns that contain only zeros
merged_df = merged_df.drop(columns=columns_with_zeros)
print(merged_df.info())

Index(['milrinone'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 70 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     3786 non-null   int64
 1   hospital_expire_flag  3786 non-null   int64
 2   age                   3786 non-null   int64
 3   sex                   3786 non-null   int64
 4   race                  3786 non-null   int64
 5   los_icu               3786 non-null   float64
 6   temperature_max       3429 non-null   float64
 7   temperature_min       3429 non-null   float64
 8   temperature_mean      3429 non-null   float64
 9   spo2_max              3770 non-null   float64
 10  spo2_min              3770 non-null   float64
 11  spo2_mean             3770 non-null   float64
 12  heart_rate_max        3772 non-null   float64
 13  heart_rate_min        3772 non-null   float64
 14  heart_rate_mean       3772 non-null   float64
 15  resp_rate_max         3741 non-null   float64
 16  resp_rate_min         3741 non-null   float64
 17  resp_rate_mean        3741 non-null   float64
 18  sbp_max               3401 non-null   float64
 19  sbp_min               3401 non-null   float64
 20  sbp_mean              3401 non-null   float64
 21  dbp_max               3401 non-null   float64
 22  dbp_min               3401 non-null   float64
 23  dbp_mean              3401 non-null   float64
 24  mbp_max               3239 non-null   float64
 25  mbp_min               3239 non-null   float64
 26  mbp_mean              3239 non-null   float64
 27  bicarbonate_min       3307 non-null   float64
 28  bicarbonate_max       3307 non-null   float64
 29  creatinine_min        3511 non-null   float64
 30  creatinine_max        3511 non-null   float64
 31  chloride_min          3519 non-null   float64
 32  chloride_max          3519 non-null   float64
 33  glucose_min           3488 non-null   float64
 34  glucose_max           3488 non-null   float64
 35  hematocrit_min        3392 non-null   float64
 36  hematocrit_max        3392 non-null   float64
 37  hemoglobin_min        3395 non-null   float64
 38  hemoglobin_max        3395 non-null   float64
 39  platelet_min          3366 non-null   float64
 40  platelet_max          3366 non-null   float64
 41  potassium_min         3560 non-null   float64
 42  potassium_max         3560 non-null   float64
 43  sodium_min            3522 non-null   float64
 44  sodium_max            3522 non-null   float64
 45  bun_min               3512 non-null   float64
 46  bun_max               3512 non-null   float64
 47  wbc_min               3377 non-null   float64
 48  wbc_max               3377 non-null   float64
 49  calcium_min           3489 non-null   float64
 50  calcium_max           3489 non-null   float64
 51  norepinephrine        3786 non-null   float64
 52  epinephrine           3786 non-null   float64
 53  dopamine              3786 non-null   float64
 54  dobutamine            3786 non-null   float64
 55  phenylephrine         3786 non-null   float64
 56  vasopressin           3786 non-null   float64
 57  Cefalosporine         3786 non-null   float64
 58  Penicillin            3786 non-null   float64
 59  Macrolide             3786 non-null   float64
 60  Meropenem             3786 non-null   float64
 61  Metronidazole         3786 non-null   float64
 62  Quinolone             3786 non-null   float64
 63  Vancomycin            3786 non-null   float64
 64  gcs_min               2827 non-null   float64
 65  gcs_motor             2036 non-null   float64
 66  gcs_verbal            2025 non-null   float64
 67  gcs_eyes              2036 non-null   float64
 68  urineoutput           2164 non-null   float64
 69  sofa                  3786 non-null   int64
dtypes: float64(64), int64(6)
memory usage: 2.0 MB
None

In [59]:
merged_df.to_csv('datapre/eicu/conflag_eICU_24_48.csv', index=False)

In [60]:
merged_df = merged_df.drop(columns=['patientunitstayid', 'hospital_expire_flag'])
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786 entries, 0 to 3785
Data columns (total 68 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               3786 non-null   int64
 1   sex               3786 non-null   int64
 2   race              3786 non-null   int64
 3   los_icu           3786 non-null   float64
 4   temperature_max   3429 non-null   float64
 5   temperature_min   3429 non-null   float64
 6   temperature_mean  3429 non-null   float64
 7   spo2_max          3770 non-null   float64
 8   spo2_min          3770 non-null   float64
 9   spo2_mean         3770 non-null   float64
 10  heart_rate_max    3772 non-null   float64
 11  heart_rate_min    3772 non-null   float64
 12  heart_rate_mean   3772 non-null   float64
 13  resp_rate_max     3741 non-null   float64
 14  resp_rate_min     3741 non-null   float64
 15  resp_rate_mean    3741 non-null   float64
 16  sbp_max           3401 non-null   float64
 17  sbp_min           3401 non-null   float64
 18  sbp_mean          3401 non-null   float64
 19  dbp_max           3401 non-null   float64
 20  dbp_min           3401 non-null   float64
 21  dbp_mean          3401 non-null   float64
 22  mbp_max           3239 non-null   float64
 23  mbp_min           3239 non-null   float64
 24  mbp_mean          3239 non-null   float64
 25  bicarbonate_min   3307 non-null   float64
 26  bicarbonate_max   3307 non-null   float64
 27  creatinine_min    3511 non-null   float64
 28  creatinine_max    3511 non-null   float64
 29  chloride_min      3519 non-null   float64
 30  chloride_max      3519 non-null   float64
 31  glucose_min       3488 non-null   float64
 32  glucose_max       3488 non-null   float64
 33  hematocrit_min    3392 non-null   float64
 34  hematocrit_max    3392 non-null   float64
 35  hemoglobin_min    3395 non-null   float64
 36  hemoglobin_max    3395 non-null   float64
 37  platelet_min      3366 non-null   float64
 38  platelet_max      3366 non-null   float64
 39  potassium_min     3560 non-null   float64
 40  potassium_max     3560 non-null   float64
 41  sodium_min        3522 non-null   float64
 42  sodium_max        3522 non-null   float64
 43  bun_min           3512 non-null   float64
 44  bun_max           3512 non-null   float64
 45  wbc_min           3377 non-null   float64
 46  wbc_max           3377 non-null   float64
 47  calcium_min       3489 non-null   float64
 48  calcium_max       3489 non-null   float64
 49  norepinephrine    3786 non-null   float64
 50  epinephrine       3786 non-null   float64
 51  dopamine          3786 non-null   float64
 52  dobutamine        3786 non-null   float64
 53  phenylephrine     3786 non-null   float64
 54  vasopressin       3786 non-null   float64
 55  Cefalosporine     3786 non-null   float64
 56  Penicillin        3786 non-null   float64
 57  Macrolide         3786 non-null   float64
 58  Meropenem         3786 non-null   float64
 59  Metronidazole     3786 non-null   float64
 60  Quinolone         3786 non-null   float64
 61  Vancomycin        3786 non-null   float64
 62  gcs_min           2827 non-null   float64
 63  gcs_motor         2036 non-null   float64
 64  gcs_verbal        2025 non-null   float64
 65  gcs_eyes          2036 non-null   float64
 66  urineoutput       2164 non-null   float64
 67  sofa              3786 non-null   int64
dtypes: float64(64), int64(4)
memory usage: 2.0 MB
None

In [61]:
merged_df.to_csv('datapre/eicu/sinflag_eICU_24_48.csv', index=False)